.card-wrapper {
  min-width: 20rem;
  min-height: 21rem;
  padding: 1rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
  border-radius: 4%;
  box-shadow: 0 0 9px 0 rgb(0 0 0 / 20%);
  background: #fff;
}

.card-wrapper .card-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
